* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 1280px;
    color: #3b3b3b;
    font-size: 24px;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  a {
    margin: 0;
    font-weight: 400;
  }
  
  a,
  a:visited,
  a:hover {
    color: teal;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
  }
  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 1rem;
    padding-right: 5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .nav__examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .nav__examples > * {
    margin-right: 0.5rem;
  }
  
  #intro {
    max-width: 40rem;
    margin: 5rem auto;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .intro__hed {
    font-size: 3em;
    margin: 2rem auto 0.5rem auto;
  }
    span {
      color: #8a8a8a;
      font-size: 0.8em;
    }
  
  .intro__dek {
    color: #8a8a8a;
  }

  #section1 {
    max-width: 60rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .chunk {
    font-size: 0.7em;
    margin: 3rem auto 4.5rem auto;
    max-width: 60rem;
   
  }

  .writing {
    font-size: 1em;
    margin: 2rem auto 0.5rem auto;
  }
  
  ::placeholder {
    font-size: 0.65rem;
  }
  

  
  
  #outro {
    margin-top: 100px;
    
  }
  

  #scrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:goldenrod; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }


  .help {
    width: 40px;
    margin: 0 auto;
  }
  
  .help .question {
    height: 20px;
    width: 20px;
    background: #ccc;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .help .popup {
    width: 560px;
    height: 0px;
    text-align: left;
    overflow: hidden;
    position: relative;
    background: #eee;
    opacity: 0;
    transition: 1s;
  }
  
  .help .popup {
    left: -260px;
    top: 10px;
  }
  

  .help:hover .popup {
    opacity: 1;
    height: 270px;
  }
  
 

  
  
  .help .popup h3 {
    margin: 0;
    padding: 10px 0 0 10px;
    height: 30px;
    background: #555;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
  }
  
  .help .popup p {
    font-size: 16px;
    padding: 10px;
    margin: 0;
  }
  


  @media (min-width: 840px) {
    .nav__examples {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
  